* {
  box-sizing: border-box;
}
.cover {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat 70% center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: hsla(0%,0%,0%,.6%);
  text-align: center;
  display: table;
}
.headline-wrapper {
  display: table-cell;
  vertical-align: middle;
}
h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 3.5rem;
  color: #d2ba87;
  padding-top: 1.5rem;
}
.tagline, .date {
  font-family: 'Libre Baskerville', serif;
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: .1rem;
}
.tagline {
  border-bottom: 0.1rem solid white;
  display: inline-block;
}
.headline-text {
  line-height: 3rem;
  background-color: hsl(0, 0%, 5%, 0.5);
}
.locations {
  background-color: #fffff0;
  color: #444349;
}
h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  padding-top: 2rem;
  text-align: center;
  padding-bottom: 3rem;
  line-height: 1.5rem;
}
.ceremony, .photos, .party {
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
}
h3 {
  display: inline-block;
  font-weight: bold;
  font-size: 1.3rem;
  padding-top: 1.5rem;
  border-top: 0.2rem solid grey;
}
img {
  width: 120px;
  height: 120px;
  margin: 1.5rem;
}
figcaption {
  padding-bottom: 1.3rem;
}
.program-wrapper {
  background-color: hsla(100,0%,0%,.6);
  text-align: justify;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  color: #d2ba87;
  line-height: 1.5rem;
}
.second-tagline {
  font-style: italic;
  padding-bottom: 1.2rem;
}
ul {
  padding-bottom: 1.5rem;
}
.gifts {
  background-color: #fffff0;
  color: #444349;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
}
.paragraph-line {
  padding-bottom: 1.5rem;
}
.questions {
  text-align: center;
  background-color: hsla(100,0%,0%,.6);
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  color: #d2ba87;
  line-height: 1.5rem;
  padding-bottom: 2rem;
}
.headline-questions {
  padding-bottom: 1.5rem;
  margin-top: 1rem;
  border-bottom-color: cornsilk;
}
.paragraph-question {
  font-weight: bolder;
  padding: 1rem 0 0.5rem 0;
}
.travel-questions, .food-questions, .other-questions {
  text-align: left;
}
p {
  margin: 0 1rem 0 1rem;
  padding-bottom: 0.5rem;
}
a {
  color: #bd806e;
}
a:hover {
  color: #eda087;
}
.contact {
  background-color: #fffff0;
  color: #444349;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  padding-bottom: 3rem;
  line-height: 1.5rem;
}
footer {
  background-color: #606060;
  color:aliceblue;
  text-align: center;
  padding: .5rem 0 .5rem 0;
}

